services:
  node:
    container_name: '${COMPOSE_PROJECT_NAME}-node'
    build:
      context: .
      dockerfile: ./.docker/node/Dockerfile
    volumes:
      - .:/app
    command: bash -c "npm install && npm run dev"
  nginx:
    container_name: '${COMPOSE_PROJECT_NAME}-nginx'
    build:
      context: .
      dockerfile: ./.docker/nginx/Dockerfile
      args:
        NGINX_CONF: nginx.dev.conf
    volumes:
      - .:/app
    depends_on:
      - node
    networks:
      default:
        aliases:
          - ${APP_HOST}
