/* Global resets that complement MUI's CssBaseline */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

.MuiMenu-paper .MuiMenu-list[role='listbox'] {
  outline: 1px solid #d0d5dd;
  outline-offset: -1px;
}

.MuiMenu-paper .MuiMenu-list[role='listbox'] .MuiMenuItem-root {
  position: relative;
}

.MuiMenu-paper .MuiMenu-list[role='listbox'] .MuiMenuItem-root:not(:last-of-type)::after {
  content: '';
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 0;
  height: 1px;
  background-color: #e4e7ec;
}
